/* src/app/about/about.component.css */

/* Apply styles similar to the "Home" component */
#about {
    background-color: #1e1e1e; /* Dark background color */
    padding: 60px 0;
  }
  
  /* Style headings similar to "Home" */
  #about h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  /* Style paragraphs similar to "Home" */
  #about p {
    font-size: 20px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 30px;
  }
  #t1 p
  {
    font-size: 20px;
    line-height: 1.6;
    color: #764b4b;
    margin-bottom: 30px;
    
  }
  #v1 p ,ul li
  {
    font-size: 20px;
    line-height: 1.6;
    color: #764b4b;
    margin-bottom: 30px;

  }
  #i1 p
  {
    font-size: 20px;
    line-height: 1.6;
    color: #764b4b;
    margin-bottom: 30px;

  }
  
  /* Style images similar to "Home" */
  #about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Apply the same styles for sections as in "Home" */
  #about .achievements,
  #about .skills,
  #about .values {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Add more custom styles as needed */
  