<!-- src/app/projects/projects.component.html -->

<section id="projects" class="py-5 text-white bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="display-4" id="mp" style="text-decoration: underline;color: #ffecda;"><i>My Projects - A Showcase of Creativity and Innovation </i></h2>
        <p class="lead">
          I am enthusiastic about beginning my career and look forward to the opportunity of working on a diverse array
          of projects. These experiences will enable me to apply my foundational skills and knowledge in IT Sector to
          deliver exceptional results and collaborate effectively with clients and teams.
        </p>
        <p class="lead">
          Below, you'll find details about some of the key projects I've been involved in:
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Project Section 1 -->
<section class="bg-light py-5">
  <div class="container" id="chat">
    <div class="row">
      <div class="col-md-6">
        <h3>Real-Time Chat Application</h3>
        <p class="project1">
          The Real-Time Chat Application is a dynamic web application built using <strong>Node.js and Socket.io
          </strong>that allows
          users to engage in real-time text-based conversations. This project demonstrates my proficiency in web
          development, back-end programming, and real-time communication technologies.
        </p>
      </div>
      <div class="col-md-6">
        <!-- Add an image or content for the right side -->
        <img src="../../assets/Chat app.png" alt="Project Image 1" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- Project Section 2 -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Creative Chapters - Portfolio Website</h3>
        <p class="project2">
          Creative Chapters" is my digital canvas, a vibrant and dynamic portfolio website crafted with passion and
          powered by <strong>Angular</strong>. Welcome to my creative journey through the world of technology. As a
          recent graduate and
          an aspiring tech enthusiast, this platform serves as a showcase of my skills, projects, and evolving
          expertise.
        </p>
      </div>
      <div class="col-md-6">
        <!-- Add an image or content for the right side -->
        <img src="../../assets/Screenshot 2023-09-02 120113.png" alt="Project Image 2" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- Project Section 3 -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Live Covid Tracker</h3>
        <p class="project3">
          Introducing a powerful and informative tool, the Live COVID-19 Tracker, built with <strong>React</strong>. In
          a world grappling
          with the COVID-19 pandemic, this project aims to provide real-time data, statistics, and insights to help
          individuals, communities, and authorities make informed decisions.
        </p>
      </div>
      <div class="col-md-6">
        <!-- Add an image or content for the right side -->
        <img src="../../assets/Covid tracker.jpg" alt="Project Image 3" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- Additional Project Sections -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Fantasy Interior Design </h3>
        <p class="project4">
          Welcome to Fantasy Interior Design, where the magic of imagination meets the world of design. This static
          website project is a visual delight, a curated collection of dreamy interiors brought to life through
          <strong>HTML,
            CSS, and JavaScript </strong>. It's your gateway to discovering, exploring, and choosing the perfect design
          for your
          living spaces.
        </p>
      </div>
      <div class="col-md-6">
        <!-- Add an image or content for the right side -->
        <img src="../../assets/WhatsApp Image 2023-09-02 at 11.37.29.jpg" alt="Project Image 4" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- Add more sections with content as needed -->