<!-- src/app/home/home.component.html -->

<section id="home" class="py-5 text-white bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-4" style="text-decoration: underline;color: #ffecda;"><i>Welcome to Creative Chapters</i>
        </h1>
        <p class="lead">
          To expand my knowledge of new and developing trends in the IT Sector and to learn how to work effectively in
          an organisation and
          contribute to the bottom line. a person who enjoys taking on challenges and new experiences and has
          outstanding communication
          abilities.
        </p>
        <p class="lead">
          I am an ambitious and tenacious person who is motivated to push the frontiers of innovation by my
          unrelenting dedication to
          perfection.
        </p>
        <p class="lead">
          I'm also passionate about photography and love capturing the beauty of everyday life through my lens."
        </p>
        <a href="#contact" class="btn btn-primary" routerLink="/contact">Contact Me</a>
      </div>
      <div class="col-lg-6">
        <!-- Add an image of yourself -->
        <!-- <img src="your-image.jpg" alt="Your Name" class="img-fluid rounded-circle"> -->
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5" id="e1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-4">My Education</h2>
        <p>
          I am an Undergraduate of LNCT Group of Colleges with a branch in Electronics and Communication Engineering
          (ECE),
          where I achieved a CGPA of 8.10. Prior to that, I completed my 12th grade education at Sharda Vidya Mandir
          with an impressive 82.2% score, following a successful 10th grade where I achieved a 81% score.
        </p>
        <p>
          I'm dedicated to staying updated with the latest industry trends and technologies to provide the best
          solutions to my clients.
        </p>
      </div>
      <div class="col-md-6">
        <!-- Add relevant images or graphics for your experience -->
        <!-- <img src="experience-image.jpg" alt="Experience Image" class="img-fluid"> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="s1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-4">My Certifications</h2>
        <ul>
          <li>Problem Solving – HackerRank</li>
          <li>C/C++ Programming – Coursera</li>
          <li>Front end Web Development – Edureka</li>
          <li>SQL – HackerRank</li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- Add icons or images related to your services -->
        <!-- <img src="service-icon-1.png" alt="Service Icon 1"> -->
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5" id="t1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-4">Featured Achievements</h2>
        <div class="testimonial">
          <ul>
            <li>Successfully conducted 5 days workshop on Microprocessors</li>
            <li>Successfully conducted 3 days workshop on Front-End Web Development </li>
            <li>Successfully conducted 5 days workshop on Android Development </li>
          </ul>
          
        </div>
        <!-- Add more testimonials as needed -->
      </div>
      <div class="col-md-6">
        <!-- Add images or avatars of your clients -->
        <!-- <img src="client-image-1.jpg" alt="Client Image 1" class="img-fluid rounded-circle"> -->
      </div>
    </div>
  </div>
</section>

<!-- Add content on the right side of the page -->
<section class="bg-light py-5" id="a1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Content on the left side (existing content) -->
        <h2 class="display-4">Social Proof</h2>
        <ul>
          <li><a href="https://www.linkedin.com/in/prakarsh-kashyap-a41172268" style="text-decoration: none;" target="blank">https://www.linkedin.com/in/prakarsh-kashyap-a41172268/</a></li><br>
          <li><a href="https://github.com/prakarshhh" style="text-decoration: none;" target="blank">https://github.com/prakarshhh</a></li><br>
          <li><a href="https://www.facebook.com/profile.php?id=100087838043710" style="text-decoration: none;" target="blank">https://www.facebook.com/profile.php?id=100087838043710</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</section>